*{
	text-decoration: none;
	list-style: none;
	margin: 0;
}


body{
	font-family: arial, helvetica;
	background:#999EBD;

}

p{
	color: white;
	text-align: justify;
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Playfair Display', serif;
	animation-duration: 3s;
	animation-name: slidein;
  }
  
  @keyframes slidein {
	from {
	  margin-left: 100%;
	  width: 300%
	}
  
	to {
	  margin-left: 0%;
	  width: 100%;
	}
	
}
h1{
	letter-spacing: 5px;
	font-family: 'Kalam', cursive;
	font-family: 'Kings', cursive;
	color:aliceblue;
	text-align: center;
	

}

h2{
	font-family: 'Kalam', cursive;
	background-color: rgba(0, 22, 148, 0.664);
	padding-left: 3em;
	color: #fff;
	margin: 1em 0em;
}

th{
	font-family: 'Kalam', cursive;
}

li{
	font-family: 'Kalam', cursive;
	font-family: 'Kings', cursive;
}

#inicio{
	background-color: cornsilk;
	height: 150px;
}
.texto{
	margin: 1em 1em;
}


#hola{
	background-color:black;
	height: 100px;
	background-image:url(https://static.wikia.nocookie.net/mitologa/images/7/7c/Olimpo4.jpg/revision/latest?cb=20170710231530&path-prefix=es);
}
.titulo{
	color:white;
}
.ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	width: 70%;
	overflow: hidden;
	background-color: #333;
  }
  
  li {
	float: left;
  }
  
  li a {
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
  }
  
  li a:hover {
	background-color: #e1c699;
  }

  ul > li{
	font-size: 30px;
	letter-spacing: 3px;
}

table td{
	padding: 1em;
}

table img{
	float: none;
	object-position: left;
	width: 100%;
}
#imagenes{
	width:200px;
	height:200px;
	float:left;
	background-position: center;
	margin: 15px;
}
th{
	font-family: 'Kalam', cursive;
	font-family: 'Kings', cursive;
	letter-spacing: 5px;
}
tr{
	font-family: 'Open Sans Condensed', sans-serif;
	font-family: 'Playfair Display', serif;
}
footer li a:hover{
background-color: rgba(209, 209, 209, 0.678);
}
.menuinicio{
background-color: cornsilk;
height: 150px;
}
.alineartxt{
text-align: center;
}
